mixin btnLlamar(tlf = undefined, classButton)
  if tlf
    a.btn.btn-secondary.mb-1(href=`tel:+34${tlf.replace(/\s/g, '')}` onclick='gtag(\'event\', \'clic\', {\'event_category\': \'phone\', \'event_label\': \''+url+'\'});' class=classButton)
      i.fa.fa-fw.fa-phone.d-inline
      |  #{tlf}

mixin btnWhatsApp(tlf = undefined, classButton, px)
  if tlf
    a.btn.btn-primary.mb-1(href=`https://api.whatsapp.com/send?phone=34${tlf.replace(/\s/g, '')}` target='_blank' onclick='gtag(\'event\', \'clic\', {\'event_category\': \'whatsapp\', \'event_label\': \''+url+'\'});' class=classButton)
      svg.svg-inline--fa.fa-whatsapp.fa-w-14.align-text-top(width=px height=px aria-hidden='true' focusable='false' data-prefix='fab' data-icon='whatsapp' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512')
        path(fill='currentColor' d='M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z')
      |  #{tlf}

section.py-5.section.bg-faded#contacto
  .container
    .row
      .col-md-6(data-showup)
        h2.h1.text-secondary.mb-3 Contacto
        address
          if horarioDias
            p
              i.fa.fa-fw.fa-calendar.d-inline.text-primary
              |  #{horarioDias}
              br
              i.fa.fa-fw.fa-clock.d-inline.text-primary
              |  #{horarioHoras}
          p.m-0
            +btnLlamar(tlfLlamar, 'btn-lg m-1')
            +btnWhatsApp(tlfWhatsApp, 'btn-lg m-1', 26)
          if email
            p.m-0
              a.btn.m-1.btn-outline-secondary.btn-md(href=`mailto:${email}` onclick='gtag(\'event\', \'clic\', {\'event_category\': \'mail\', \'event_label\': \''+url+'\'});')
                i.fa.fa-fw.fa-envelope.d-inline
                |  #{email.replace('gmail.com', '')}
                span.d-inline-block @gmail.com
          p.m-0
            a.btn.m-1.btn-light.btn-md(href='https://g.page/clinicamartinezmarcos' target='_blank' onclick='gtag(\'event\', \'clic\', {\'event_category\': \'map\', \'event_label\': \''+url+'\'});' class=email ? 'btn-primary' : 'btn-light')
              i.fa.fa-fw.fa-map-marker-alt.d-inline
              |  Plaza Beato Andrés Hibernón 1, 30001 Murcia
      //- .d-sm-none.llamar
        +btnLlamar(tlfLlamar, 'btn-md mr-1')
        +btnWhatsApp(tlfWhatsApp, 'btn-md', 21)
      .callnow.m-2.m-sm-3
        .callnow-caption
          .badge.badge-light.d-block.shadow ¡Pulsa y envia un WhatsApp!
        a.btn.btn-primary.rounded-circle.shadow(href=`https://api.whatsapp.com/send?phone=34${tlfWhatsApp.replace(/\s/g, '')}` target='_blank' title='¡Pulsa aquí para enviar un WhatsApp!')
          svg(width='2em' height='2em' fill='currentColor' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
            path(d='M369.1,303.7c-6.1-3.1-36.4-18-42.1-20c-5.7-2.1-9.8-3.1-13.9,3.1c-4.1,6.2-15.9,20-19.5,24.2c-3.6,4.1-7.2,4.7-13.3,1.6 c-36.2-18.1-59.9-32.3-83.8-73.3c-6.3-10.9,6.3-10.1,18.1-33.6c2-4.1,1-7.7-0.6-10.8c-1.6-3.1-13.9-33.4-19-45.7 c-5-12-10.1-10.3-13.9-10.5c-3.6-0.2-7.7-0.2-11.8-0.2c-4.1,0-10.8,1.6-16.4,7.7c-5.7,6.2-21.5,21.1-21.5,51.4s22.1,59.6,25.1,63.7 c3.1,4.1,43.4,66.3,105.2,93c39.1,16.9,54.4,18.3,73.9,15.4c11.9-1.8,36.4-14.9,41.5-29.3s5.1-26.8,3.6-29.3 C379.3,308.3,375.2,306.7,369.1,303.7z M256.7,475.1c-40.1,0-79.3-10.7-113.5-31.1l-1-0.6L41.9,469.8l26.8-98.1l-0.7-1.1 c-22.3-35.4-34.1-76.4-34.1-118.6c0-122.9,100-222.8,222.9-222.8c59.6,0,115.5,23.2,157.5,65.4c21.2,21.2,37.8,45.4,49.4,71.9 c12.1,27.6,18.2,56.4,18.1,85.7c0,30-6,59.2-18,86.8c-11.5,26.5-27.8,50.3-48.6,70.8c-20.7,20.4-44.8,36.5-71.6,47.7 C316,469.2,286.8,475.1,256.7,475.1z')
      .col-md-6(data-showup)
        iframe.img-thumbnail.min-h-100(data-src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.571192490179!2d-1.1296128846762314!3d37.98713537972133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63821a450f5dab%3A0x50eca5b55c3e6d17!2sCl%C3%ADnica%20Mart%C3%ADnez%20Marcos!5e0!3m2!1ses!2sar!4v1601562595292!5m2!1ses!2sar' width='100%' height='300' scrolling='no' frameborder='0')
